<% form_for @event do |f| %>
 <%= f.label :email, 'Your Email' %>
 <%= f.text_field :email %>
 <%= f.label :name, 'Event name' %>
 <%= f.text_field :name %>
 <%= f.label :location, 'Event location' %>
 <%= f.text_field :location %>
 <div id="dates">
   <%= render :partial => 'new_date_form', :locals => { :f => f } %>
 </div>

 <%= link_to_function "add another" do |page| 
   page.insert_html :bottom, 'dates', :partial => 'new_date_form', :locals => { :f => f }
   
   page << "$('#dates .event_date:last select').each(function() { $(this).attr('id', $(this).attr('id').replace('_1_', '_'+ ($('#dates label').length - 1) + '_')) })"
   page << "$('#dates label:last').html($('#dates label:last').text().replace('1', $('#dates label').length))"
 end %>
 <%= f.submit "Next" %>
<% end %>